/* Default theme designed for the modular interface
 *
 * other than the definition of the colour at the top the styles are arranged
 * by most general to least general, 
 *
 * colours
 * layout
 * widgets
 * elements
 * state
 *
 */

/* Colour theme */
:root {
    --text-height:        1.0em;
    --roundness:          0.4em;
    --margins:            0.2em;

    --background:       #1f1f1f;
    --text:             #d9d9d9;

    --link:             #4488FF;
    --link-visited:     #BB44FF;

    --button-inner:     #707070;
    --button-outline:   #373737;

    --section-title:    #424242;
    --section-content:  #383838;

    --value-inner:      #595959;
    --value-outline:    #303030;

    --text-inner:       #1f1f1f;
    --text-outline:     #424242;

    --integer-inner:    #585858;
    --integer-outline:  #303030;

    --options-inner:    #585858;
    --options-outline:  #303030;

    --list-inner:       #2d2d2d;
    --list-outline:     #424242;
    --list-alternate:   #343434;


    /* State based colours */
    --driven:           #9000CC;
    --animated:         #53992E;
    --keyframe:         #B3AE36;
    --overridden:       #00C3C3;
    --changed:          #CC7529;

    --fatal:            rgb(176, 0, 0);
    --error:            #bd6623;
    --warning:          rgb(181, 149, 21);
    --info:             #53992e;
    --debug:            #1D4383;
    --overwhelm:        rgb(22, 131, 144);
    --zion:             #8913a4;

    --sucess:           rgb(86, 164, 30);
    --failure:          rgb(167, 30, 30);

    --selected:         #3B5689;
    --hovered:          #808080;

    background-color: var(--background);

    /* FONT STYLE */
    font-family: system-ui;
    color: var(--text);
    text-shadow: 0px 1px 0px rgba(0,0,0,128);
}
body {
    margin:0;
    padding:0;
}


/*layout styles */
.section #titlebar {
    background-color: var(--section-title);
    border-bottom: 2px solid var(--base-outline);
    padding-left: var(--margins);
    padding-bottom: var(--margins);
    display: flex;
    justify-content: left;
    overflow: hidden;
}

.section #titlebar h1 {
    display: inline-block;
    white-space: nowrap;
}

.section #content {
    background-color: var(--section-content);
    padding-bottom: var(--margins);
}

/* Widget styles */

.value {
    margin-top: var(--margins);
    margin-right: var(--margins);
    display: flex;
    justify-content: center;
}

.value > *{
    flex-basis:0;
    flex-grow: 1;
    white-space: nowrap;
}

.value > #label{
    margin: 1px 1px 1px 1px;
    padding-right: var(--text-height);
    text-align: right;
    font-weight: bold;
}

.value > #value{
    background-color: var(--value-inner);
    border: 1px solid var(--value-outline);
    border-radius: var(--roundness);
    padding:0 0.5em 0 0.5em;
    text-align: center;
}

.value > #value:before{
    content: attr(prefix);
}
.value > #value:after{
    content: attr(suffix);
}

.value[wide=true] {
    display: block;
}

.value[wide=true] > #label {
    text-align: left;
    overflow: hidden;
}

.value[wide=true] > #value{
    overflow: hidden;
}

/* alternate types of value */

.value[type='text'] > #value {
    background-color: var(--text-inner);
    border: 1px solid var(--text-outline);
    text-align: left;
}

.value[type='integer'] > #value {
    background-color: var(--integer-inner);
    border: 1px solid var(--integer-outline);
    text-align: center;
}

.value[state='animated'] > #value {
    background-color: var(--animated);
}
.value[state='driven'] > #value {
    background-color: var(--driven);
}
.value[state='keyframe'] > #value {
    background-color: var(--keyframe);
}
.value[state='overridden'] > #value {
    background-color: var(--overridden);
}
.value[state='changed'] > #value {
    background-color: var(--changed);
}
.value[state='error'] > #value {
    background-color: var(--error);
}
.value[state='warning'] > #value {
    background-color: var(--warning);
}
.value[state='info'] > #value {
    background-color: var(--info);
}

/* Options Widget */
.options {
    margin: var(--margins);
}

.combo div:first-child {
    font-weight: bold;
}

.options > #list {
    display: flex;
}

.options span {
    flex-basis: 0;
    flex-grow: 1;
    margin: 0;
    padding:0 0.5em 0 0.5em;
    background-color: var(--options-inner);
    border: 1px solid var(--options-outline);
    text-align: center;
    min-width: var(--text-height);
}

.options span:first-child {
    border-top-left-radius: var(--roundness);
    border-bottom-left-radius: var(--roundness);
}

.options span:last-child {
    border-top-right-radius: var(--roundness);
    border-bottom-right-radius: var(--roundness);
}

.options span:hover {
    background-color: var(--hovered );
}
.options > #list > .selected {
    background-color: var(--selected);
}

.options > #list > span[selected='true'] {
    background-color: var(--selected);
}
.options[state='driven'] > #list > span[selected='true'] {
    background-color: var(--driven);
}
.options[state='changed'] > #list > span[selected='true'] {
    background-color: var(--changed);
}

.list {
    padding-left: var(--margins);
    padding-bottom: var(--margins);
}

.list > #row {
    display: flex;
}

.list #listbox {
    flex-basis: var(--text-height);
    flex-grow: 1;

    margin-top: var(--margins);
    margin-right: var(--margins);

    background-color: var(--list-inner);
    border: 1px solid var(--list-outline);
    border-radius: var(--roundness);

    padding-bottom: var(--margins);
    padding-left: var(--margins);

    overflow: hidden;
}

.list #list {
    margin-top: var(--margins);
    margin-right: var(--margins);
    resize: vertical;
    height: 100px;
    overflow-x: auto;
    overflow-y: auto;
}

.list #filter-top {
    text-align: center;
    font-size: 0.5em;
}
.list #filter {
    margin-right: var(--margins);
    background-color: var(--text-inner);
    border: 1px solid var(--text-outline);
    border-radius: var(--roundness);

    padding-left: var(--margins);
}

.list #control {
    flex-grow: 0;

    display: flex;
    flex-direction: column;
}

.list #control > * {
    flex-grow: 0;
}

.list > #prop {
    display: none;
    margin-top: var(--margins);
    margin-right: var(--margins);

    padding-left: var(--margins);
    padding-bottom: var(--margins);
}

/* Individual element styles */

/* RESET */
p, a, h1,h2,h3,h4,h5 {
    font-size: var(--text-height);
    margin:0;
    margin-top: var(--margins);
    margin-right: var(--margins);
}

a {
    color: var(--link);
}
a:visited {
    color: var(--link-visited);
}


button {
    margin-top: var(--margins);
    margin-right: var(--margins);

    background-color: var(--button-inner);
    border: 1px solid var(--button-outline);
    border-radius: var(--roundness);

    padding: 0 0.5em 0 0.5em;

    font-family: system-ui;
    color: var(--text);
    white-space: nowrap;
    text-shadow: 0px 1px 0px rgba(0,0,0,128);
}
button:hover {
    background-color: var(--hovered);
}

.separator {
    flex-basis:1;
    flex-grow: 100;
}
.indent {
    max-width: var(--text-height);
    min-width: var(--text-height);
}

.icon {
    flex-basis:var(--text-height);
    flex-grow:0;
    margin-top: var(--margins);
    margin-right: var(--margins);
    user-select: none;
    text-align: center;
    vertical-align: middle;
}

/* Transformations */
.hide{
    display: none;
}

.rotate90 {
    transition: transform 0.5s;
    transform: rotate(90deg);
    text-shadow: 1px 0px 0px rgba(0,0,0,128);
}

.expand {
    transition: height 2s;
    height: auto;
}
.contract {
    transition: height 2s;
    height: var(--text-height);
}

/* State Changes */
.driven {
    background-color: var(--driven);
}
.animated {
    background-color: var(--animated);
}
.keyframe {
    background-color: var(--keyframe);
}
.overridden {
    background-color: var(--overriden);
}
.changed {
    background-color: var(--changed);
}

.fatal {
    background-color: var(--fatal);
}
.error {
    background-color: var(--error);
}
.warning {
    background-color: var(--warning);
}
.info {
    background-color: var(--info);
}
.debug {
    background-color: var(--debug);
}
.overwhelm {
    background-color: var(--overwhelm);
}
.zion {
    background-color: var(--zion);
}

.success {
    background-color: var(--success);
}
.failure {
    background-color: var(--failure);
}

.selected {
    background-color: var(--selected);
}
